@font-face {
    font-family: 'Press Start 2P';
    src: url('../fonts/Press_Start_2P/PressStart2P-Regular.ttf');
}

* {
    box-sizing: border-box;
    font-family: 'Press Start 2P', 'Arial', monospace;
    margin: 0;
    padding: 0;
}

body {
    background-color: #1a1a1a;
    color: white;
    min-height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    overflow-x: hidden;
}

.loginHeader {
    text-align: center;
    margin-bottom: 1em;
}

.logoPictures {
    display: flex;
    justify-content: center;
    gap: 20px;
    align-items: center;
}

.mainTitle {
    font-size: 64px;
    color: white;
    margin-top: 5px;
    letter-spacing: 5px;
    text-align: center;
    margin-top: 15px;
}

.splitGrid {
    display: flex;
    width: 95%;
    max-width: 1800px;
    margin: 2em auto;
    gap: 100px;
    align-items: flex-start;
    justify-content: center;
}

.splitColumn {
    flex: 1;
    display: flex;
    flex-direction: column;
    text-align: center;

}

.splitColumn h2 {
    color: #ffcc00;
    font-size: 36px;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-bottom: 20px;
}

.arcadeInput {
    display: block;
    width: 75%;
    border: 4px solid #444;
    border-radius: 5px;
    color: black;
    margin: 0 auto 20px auto;
    padding: 15px;
    outline: none;
    box-shadow: inset 2px 2px 5px lightgray;
}

.arcadeInput:focus {
    border-color: #06a0df;
}

::placeholder {
    color: gray;
}

.arcadeBtn {
    text-decoration: none;
    color: #5e284d;
    font-size: 1.2em;
    text-transform: uppercase;
    text-align: center;
    padding: 15px 40px;
    margin-top: 20px;
    border-radius: 30px;
    border: 4px solid lightgray;
    position: relative;
    min-width: 150px;
    cursor: pointer;
    min-width: 220px;

    box-shadow: inset 0 10px white, 0 6px black;
    transition: transform 0.1s, box-shadow 0.1s;
}

.arcadeBtn:active {
    transform: translateY(6px);
    box-shadow: inset 0 10px white, 0 0 black;
}

.error,
.emptyState p {
    color: red;
    border: 4px dashed red;
    padding: 15px 15px;
    margin: 10px auto 20px auto;
    display: inline-block;
}

.success {
    color: green;
    border: 4px solid green;
    padding: 15px 15px;
    margin: 10px auto 20px auto;
    display: inline-block;
}

label,
.loginContainer p {
    display: block;
    margin-bottom: 15px;
    margin-top: 15px;
}

.forgotLink:hover,
.backLink:hover {
    color: yellow;
}

.loginContainer {
    width: 100%;
    max-width: 600px;
    margin: 50px auto;
    background-color: #222;
    border: 4px solid white;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 10px 10px 0px black;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.loginContainer h1 {
    font-size: 32px;
    margin-bottom: 30px;
    color: white;
    text-shadow: 4px 4px 0 black;
    text-align: center;
}

.loginContainer form {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.loginContainer .arcadeBtn {
    width: 100%;
    max-width: 300px;
}

.backAction {
    margin: 15px auto;
}

.backLink {
    color: red;
}

.notificationContainer {
    position: fixed;
    top: 20px;
    margin: 0 auto;
    z-index: 2000;
    width: 90%;
    max-width: 600px;
    text-align: center;
    pointer-events: none;
}

.msgBox {
    pointer-events: auto;
    text-transform: uppercase;
    background-color: #000;
    box-shadow: 0 0 10px black;
    animation: slideDown 0.5s ease-out;
}


@keyframes slideDown {
    from {
        transform: translateY(-100%);
        opacity: 0;
    }

    to {
        transform: translateY(0);
        opacity: 1;
    }
}

.fadeOut {
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}

footer{
    margin: 20px;
}

footer a:hover{
    color: yellow;
}

/*GUIDA HTML*/
.guideSection{
    margin: 20px 20px;
    border: 4px solid white;
    border-radius: 10px;
    padding: 20px; 
    text-align: left;
    box-shadow: 5px 5px 0 black;
}

.guideSection h2{
    color: #ffcc00;
    font-size: 20px; 
    margin: 10px auto;
    text-transform: uppercase; 
}

.guideSection strong{
    margin: 0 5px;
}

.guideSection em{
    font-family: Arial, Helvetica, sans-serif;
}

.description{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    margin: 10px auto; 
    line-height: 1.8;
}

.statsList{
    list-style: none;
    padding: 0; 
    margin-top: 15px; 
}

.statsList li{
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 12px;
    display: flex;
    align-items: center;
    gap: 10px; 
}

.key{
    display: inline-block;
    background-color: #dddddd45;
    color: orange;
    font-family: monospace;
    font-weight: bold;
    padding: 5px 10px; 
    border-radius: 5px;
    border-bottom: 4px solid black; 
    margin: 0 5px;
    font-size: 14px;
}

.playAction{
    margin: 40px auto;
    text-align: center;
}

/*HOME.PHP*/
.gameContainer {
    width: 100%;
    height: 100vh;
    padding: 1em 1.5em;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-transform: uppercase;
    overflow: hidden;
}

.logoSection {
    display: flex;
    align-items: flex-start;
    gap: 20px;
    margin-bottom: 20px;
}

#f1Logo {
    width: 120px;
    height: 120px;
}

#homeTitle {
    margin-top: 50px;
}

.userStats {
    text-align: right;
    margin-left: auto;
    margin-top: 50px;
}

.userStats h2 {
    font-size: 32px;
    margin-bottom: 1.5em;
    text-shadow: 4px 4px 0 black;
}

.userStatRow {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 15px;
    margin-bottom: 0.5em;
    font-size: 1em;
}

.icon {
    width: 32px;
    height: 32px;
}

.mainDisplay {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    flex-grow: 1;
    padding-top: 20px;
}

.lastRace {
    position: absolute;
    left: 0;
    top: 20px;
    font-size: 24px;
}

.setupDisplay {
    display: flex;
    gap: 50px;
    align-items: flex-end;
}

.displayItem {
    text-align: center;
}

.displayItem img {
    height: 250px;
    width: auto;
    object-fit: contain;
    display: block;
    margin: 0 auto 20px auto;
}

.displayItem p {
    font-size: 1em;
    font-weight: bold;
}

.missingSetup {
    border: 4px dashed rgb(158, 9, 9);
    padding: 40px;
    color: red;
    border-radius: 20px;
    font-weight: bold;
    display: inline-block;
}

.actionsBar {
    display: flex;
    justify-content: center;
    gap: 30px;
    padding-bottom: 15px;
}

/*COLORI BOTTONI*/
.registerBtn,
.playBtn,
.selectBtn {
    background-color: #06a0df;
    text-shadow: 2px 2px 0 #004a80;
}

.garageBtn,
.upgradeBtn,
.searchBtn {
    background-color: #ffcc00;
    text-shadow: 2px 2px 0 #d1a914;
}

.loginBtn,
.shopBtn,
.checkBtn {
    background-color: #3fc13a;
    text-shadow: 2px 2px 0 #2b793f;
}

.exitBtn {
    background-color: #f32e26;
    text-shadow: 2px 2px 0 #b3201e;
}

.arcadeBtn:hover {
    filter: brightness(1.2);
    transform: translateY(1px);
}

.arcadeBtn.disabled {
    background-color: #555;
    color: #888;
    pointer-events: none;
    box-shadow: none;
}

#globalMuteBtn {
    position: absolute;
    top: 30px;
    right: 100px;
    z-index: 20;
    margin-bottom: 20px;
    width: 30px;
    height: 30px;

    cursor: pointer;
}

#globalMuteBtn:hover {
    transform: scale(1.1);
}

#globalMuteBtn:active {
    transform: scale(0.9);
}

/* SCHERMI PIU' PICCOLI*/
@media only screen and (max-height: 740px) {
    body {
        overflow-y: auto;
        padding-bottom: 20px;
    }

    .logoPictures img {
        width: 80px;
        height: auto;
    }


    .mainTitle {
        font-size: 24px;
        margin-top: 10px;
        margin-bottom: 5px;
    }


    .arcadeBtn {
        padding: 10px 20px;
        margin-top: 8px;
        min-width: 180px;
    }


    .splitGrid {
        margin-top: 10px;
        gap: 20px;
    }

    .splitColumn h2 {
        font-size: 18px;
        margin-bottom: 10px;
    }

    .arcadeInput {
        padding: 8px;
        margin-bottom: 10px;
    }

    #globalMuteBtn {
        top: 20px;
        right: 60px;

        width: 20px;
        height: 20px;
    }

    #f1Logo {
        width: 60px;
        height: 60px;
    }

    #homeTitle {
        margin-top: 20px;
        font-size: 24px;
    }

    .userStats h2 {
        font-size: 24px;
        margin-bottom: 0.5em;
    }

    .userStatRow {
        font-size: 12px;
        margin-bottom: 0.5em;
    }

    .icon {
        width: 20px;
        height: 20px;
    }

    .displayItem img {
        height: 150px;
        margin-bottom: 15px;
    }

    .displayItem p {
        font-size: 12px;
    }

    .setupDisplay {
        gap: 25px;
    }

    .lastRace {
        font-size: 16px;
        position: absolute;
        margin-bottom: 15px;
        text-align: center;
    }
}